.myFooter {
    background-color: #262626 !important;
}

.myFooter a {
    color: #ffffff;
}

.myLogo {
    height: 60px;
}

.formInputFooter{
    max-width: 300px !important;
}

.myList li a, .jobex, .downloadText{
    color: #ffffffb3 !important;
}



.downloadText {
    margin-top: 10px;
    padding-left: 0;
    margin-bottom: 4px;
    font-size: 20px;
    text-align: center;
}

.downloadContainer{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.downloadContainer button {
    width: fit-content;
}

.socialBar {
    margin-top: 0;
}

.socialBar i {
    background-color: #359FC2;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    line-height: 30px;
}

.downloadAppButton {
    color: #4e4e4e !important;
}

.socialBar i:hover {
    color: #ffffff;
    background-color: #49d1ff;
}

.footerRow{
    margin-left: 0 !important;
}

@media (max-width: 991px) {
    .registerButtonContainerLg{
        visibility: hidden !important;
    }
    .registerButtonContainerSm{
        visibility: visible !important;
    }

}

@media (min-width: 576px) {

    .downloadText {
    }

}

@media (max-width: 600px) {
    .downloadText {
        margin-top: 20px;
    }
}

@media (max-width: 940px) {
    .downloadContainer {
        width: 100% !important;
    }
}