.darkTheme {
    background-color: #262626 !important;
}

.activeHeader { 
    border: 1px solid #757575;
    border-radius: 5px;
}

.menuContainer{
    position: relative;
}
.logoCenterContainer{
    position: absolute !important;
    left: calc(50% - 25px) !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
}

.activeHeader:hover {
    border: 1px solid #4b4b4b;
    border-radius: 5px; 
}

.headerLogo {
    height: 50px;
    margin-top: -4px;
}

.myMenu a {
    color: #ffffff !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    transition: all .2s;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
}

.myMenu a:hover {
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid #353535;
    border-radius: 5px;
    font-weight: bolder;
    transition: all .6s;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
}

.myMenu{    
    line-height: 50px;
}

.navbar-nav > li{
    margin-left:25px;
    margin-right:25px;
}

@media (max-width: 1199px){
    #logoCenter{
        display: none !important;
    }
}
@media (max-width: 1400px){
    .navbar-nav > li{
        margin-left:10px !important;
        margin-right:10px !important;
    }
}
@media (min-width: 1200px){
    #logoToggle{
        display: none !important;
    }
    #navbarBrand{
        display: none !important;
    }
}