
.planosLink {
    border-radius: 10px;
    padding: 25px;
    width: 100%;
    color: #333;
    background: rgb(219, 217, 217);
    margin-top:20px;
    text-align: left;
}
.planosLink:hover {
    color: white;
    background-image: linear-gradient(to right, #003366, blue);
}